<mat-card >
  <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
  <form (submit)="onSavePost(postForm)"  #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>

      <input
      matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      required
      minlength="3"
      #title="ngModel"
      placeholder="post title">
      <mat-error *ngIf="title.invalid ">please enter proper title!</mat-error>

    </mat-form-field>
    <mat-form-field >

      <textarea
       matInput
       rows="4"
       name="content"
       [ngModel]="post?.content"
       required
       #content="ngModel"
       placeholder="post content"></textarea>
       <mat-error *ngIf="content.invalid ">please enter some content!</mat-error>

    </mat-form-field>
    <button mat-raised-button
    color="primary"
    type="submit">save post</button>

</form>
</mat-card>

<hr>

